#root{
   width: 70vw;
   display: flex;
   flex-direction: row;
   background-color: whitesmoke;
  
}
body{
   background-color: gray !important;
   padding: 50px !important;
   display: flex;
   justify-content: center;
}